{% extends 'base.html' %}
{% load static %}
{% block title %}
    LOGIN
{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">

        <div class="card col-8">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Sign in to start your session</p>

              <form action="{% url 'home' %}" method="post">
                  {% csrf_token %}
                <div class="input-group mb-3">

                    {{ form.email }}

                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">

                    {{ form.password }}

                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                      <label for="remember" style="color:black;">
                        Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>
            </div>
        </div>
    </div>
{% endblock %}